body {
    scroll-behavior: smooth;
  }
  .navbar {
    transition: background-color 0.3s;
  }
  .navbar.scrolled {
    background-color: rgba(0, 123, 255, 0.9);
  }
  .hero {
    height: 100vh;
    background: url("https://via.placeholder.com/1920x1080") center/cover
      no-repeat;
    display: flex;
    align-items: center;
    color: white;
  }
  .section {
    padding: 60px 0;

  }

  .nav-link:hover{
    color: white;
  }